<!-- error alert toast -->
<app-error-toast [errorMessage]="errorMessage"></app-error-toast>

<!-- seccess alert toast -->
<app-success-toast [successMessage]="successMessage"></app-success-toast>

<!-- navbar -->
<app-cust-header></app-cust-header>

<!-- main container -->

<main class="p-5" style="background-color: #f3f1e7; height: 90vh;">
  <div class="container-md p-5">
    <div class="card mx-auto  col-md-10 col-lg-9 " style="background-color: #B1D7B4">
      <div class="row g-0">
        <div class=" col-sm-7">
          <div class="card-body p-5">
            <h4 class="text-center" style="color: #2a431c;">LOGIN</h4>
            <form [formGroup]="customerLoginForm" (ngSubmit)="customerLogin()">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input type="email" [formControlName]="'email'" class="form-control" id="exampleInputEmail1"
                  aria-describedby="emailHelp" />
                <div *ngIf="customerLoginForm.controls['email'].touched">
                  <small class="text-danger" *ngIf="customerLoginForm.controls['email'].errors?.['email']">
                    *Invalid email</small>
                </div>
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" [formControlName]="'password'" class="form-control" id="exampleInputPassword1" />
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" />
                <label class="form-check-label fw-lighter" for="exampleCheck1">remember me</label>
              </div>
              <div class="d-flex justify-content-between align-items-center flex-column flex-sm-row mt-5">
                <button type="submit" [disabled]="customerLoginForm.invalid"
                  class="btn text-light btn-primary rounded-0" style="background-color: #2a431c">
                  LOGIN
                </button>
                <a href="#" [routerLink]="'/auth/registration'" class="text-decoration-none mt-2"
                  style="color: #2a431c; ">create account</a>
              </div>
            </form>
          </div>
        </div>
        <div class="col-sm-5 d-none d-sm-block p-0 " style="object-fit: contain; height: 60vh; ">
          <img src="../../../assets/farm-login.jpg" class="rounded-end" style="height: 100%; width: 100%;" alt="..." />
        </div>
      </div>
    </div>
  </div>
</main>
