<app-cust-header [custLoggedStatus]="custLoggedStatus"></app-cust-header>

<main class=" p-5" style="min-height:90vh">

  <div class="container-md p-3">
    <h4 class="text-uppercase text-center mb-5 title fw-bold ">cart</h4>

    <div class="text-center mt-5" *ngIf="products.length === 0">
      <h4 class="d-inline mx-3">your cart is empty</h4>
      <a class="" style="color:#876445" routerLink="/">continue shopping</a>
    </div>

    <div *ngIf="products.length >0" class="table-responsive w-75 mx-auto">
      <table class="table ">
        <thead>
          <tr style="color: #2a431c;">
            <th scope="col" class="h5"></th>
            <th class="text-center" scope="col">Quantity</th>
            <th class="text-center" scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products" style="color: #2a431c;">
            <th class="py-3" scope="row">
              <div class="d-flex align-items-center" routerLink="/product-details">
                <img src="{{product?.images[0].url}}" class="img-fluid rounded-0" style="width: 120px;" alt="product">
                <div class="flex-column ms-4">
                  <p class="mb-2 fs-5">{{product?.name}}</p>
                  <p class="mb-0 fw-light">{{product?.description}}</p>
                </div>
              </div>
            </th>
            <td class="align-middle p-3">
              <div class="d-flex flex-row justify-content-center">
                <button class="btn btn-link px-2" (click)=" stepDown(product._id)">
                  <i class="fas fa-minus" style="color:#2a431c;;"></i>
                </button>
                <input #quantityval id="get" min="1" (change)="getInput(product._id, quantityval.value )"
                  value={{product?.qty}} type="number" class="form-control form-control-sm" style="width: 35px;" />

                <button class="btn btn-link px-2" (click)="stepUp(product._id)">
                  <i class="fas fa-plus " style="color:#2a431c;;"></i>
                </button>
              </div>
            </td>
            <td class="align-middle">
              <p class="mb-0" style="font-weight: 400;"> {{product?.totalPrice| currency : "INR" }}</p>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="w-50 p-3 my-3 ms-auto text-end price-total">
        <div class="d-flex justify-content-end">
          <p class="me-5 text-uppercase fw-bold">total <span class="ms-3"> : </span></p>
          <p class="me-3 fw-bold">{{totalAmount | currency : "INR"}}</p>
        </div>
        <div class="row">
          <small>Dispatched within 2-3 working days for Domestic Orders. Shipping, taxes, and discount codes calculated
            at
            checkout.</small>
        </div>
        <button class="btn checkout-btn  my-3 text-light rounded-0" routerLink="/checkout"
          style="background-color: #876445;">
          checkout</button>
      </div>
    </div>
  </div>
</main>
