<nav class="navbar bg-light navbar-expand-md  sticky-top" style="box-shadow: 10px 0px 10px rgb(214, 205, 205);">
  <div class="container-fluid d-flex justify-content-between align-items-center">
    <a class="navbar-brand fs-sm-2 fw-bold mx-sm-3 d-md-none" style=" color : #935e38" href="#">THOPATE FARMS <sup
        class="regd_mark">&#174;</sup></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas w-75 offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <a class="offcanvas-title brand-heading-sm fs-5 fw-bold" style="color:#935e38" id="offcanvasNavbarLabel"
          href="#">THOPATE FARMS <sup class="regd_mark">&#174;</sup></a>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body d-flex justify-content-between">
        <ul class="navbar-nav justify-content-center align-items-md-center flex-grow-1 ">
          <li class="nav-item  text-decoration-none fs-5">
            <a class="nav-link active" aria-current="page" href="" [routerLink]="'/products'">HOME</a>
          </li>
        </ul>
        <div>
          <a class="navbar-brand fs-2 fw-bold d-none d-md-block " [ngStyle]=" {'color' : '#935e38'}" href="#">THOPATE
            FARMS <sup class=" fs-5">&#174;</sup></a>
        </div>
        <ul class="navbar-nav justify-content-end align-items-md-center me-3 flex-grow-1 ">
          <li class="nav-item text-decoration-none fs-5 dropdown">
            <a *ngIf="custLoggedStatus; else profile" class="nav-link dropdown-toggle ms-md-5" data-bs-toggle="dropdown"
              aria-expanded="false" [routerLink]="'/profile'">
              <!-- <span>Hello, {{username}}</span> -->
              <i class="fa-regular fa-user-circle fs-3 "></i>
            </a>

          <ng-template #profile>
            <li class="nav-item fs-5">
              <a class="me-5 text-decoration-none" aria-current="page" href="" [routerLink]="'/seller'"
                style="color: #876445;">become a
                seller</a>
              <button class=" btn  btn-outline-primary " style="background: #3c6e71; color:white" href="#" role="button"
                [routerLink]="'/auth/login'">
                Sign in
              </button>
            </li>
          </ng-template>
          </li>


          <li class="nav-item ms-3 fs-5">
            <a href="#" routerLink="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
          </li>
        </ul>
      </div>
    </div>

  </div>

</nav>
