<app-error-toast [errorMessage]="errorMessage"></app-error-toast>


<div class="main d-flex flex-column justify-content-center align-items-center ">
  <h3 CLASS="fw-bold  " style="color: #2f0000;">REGISTRATION </h3>

  <div class="form-div col-10 col-sm-7  col-lg-3 p-4 rounded  mx-auto " style="background-color: #e0b88f;">
    <form [formGroup]="registrationForm" (ngSubmit)=" setRegduserData()">
      <div class="mb-3">
        <label for="email" class="form-label  text-uppercase fw-normal">Email</label>
        <input type="email" [formControlName]="'email'" class="form-control border-0 rounded-0"
          aria-describedby="emailHelp">
        <div *ngIf="registrationForm.controls['email'].touched && registrationForm.invalid">
          <small *ngIf="registrationForm.controls['email'].errors?.['pattern']" class="error-msg">
            !invalid email
          </small>
          <small *ngIf="registrationForm.controls['email'].errors?.['required']" class="error-msg">
            *field is required
          </small>
        </div>
      </div>
      <div class="mb-3">
        <label for="Name" class="form-label  text-uppercase fw-normal">Full Name</label>
        <input type="text" [formControlName]="'name'" class="form-control border-0 rounded-0"
          aria-describedby="emailHelp">
        <div *ngIf="registrationForm.controls['name'].touched && registrationForm.invalid">
          <small *ngIf="registrationForm.controls['name'].errors?.['pattern']" class="error-msg">
            !invalid name
          </small>
          <small *ngIf="registrationForm.controls['name'].errors?.['required']" class="error-msg">
            *field is required
          </small>
        </div>
      </div>

      <div class="mb-3">
        <label for="company" class="form-label  text-uppercase fw-normal">Company Name</label>
        <input type="text" [formControlName]="'company'" class="form-control border-0 rounded-0"
          aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text"></div>
        <small
          *ngIf="registrationForm.controls['company'].errors?.['required'] && registrationForm.controls['company'].touched"
          class="error-msg">
          *field is required
        </small>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label text-uppercase fw-normal">Create Password</label>
        <input type="password" [formControlName]="'password'" class="form-control border-0 rounded-0">
        <div border-0 rounded-0 id="passwordhelp"
          *ngIf="registrationForm.controls['password'].errors?.['pattern'] && registrationForm.controls['password'].touched"
          class=" error-msg">must have 8 characters, 1 capital letter & 1 special character</div>

        <small
          *ngIf="registrationForm.controls['password'].errors?.['pattern'] && registrationForm.controls['password'].touched"
          class="error-msg">

        </small>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label text-uppercase fw-normal">confirm Password</label>
        <input type="password" [formControlName]="'confirmpassword'" class="form-control border-0 rounded-0">
        <small border-0 rounded-0 *ngIf="registrationForm.errors?.['misMatch'] " class="error-msg">
          !password is mismatch
        </small>
      </div>
      <div class=" d-flex flex-column  align-items-center">
        <button type="submit " [disabled]="!registrationForm.valid"
          class="btn btn-outline-light rounded-0 px-4 fs-5  py-2 my-3 text-uppercase"
          style="border-color: #2f0000; color:#2f0000 ">Register</button>
        <p class="">if already registered <a [routerLink]="'/auth/login'" class="text-decoration-none "
            style="color: #2f0000;">login</a></p>
      </div>

    </form>

  </div>



</div>

