

  form {

    input:focus {
      outline: 0px !important;
      box-shadow: none !important;
    }

  }

  .main {
    background-image: url(../../../../assets/dylan-de-jonge-9SjCXUq_qSE-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    opacity: 80%;
    height: 100vh;
  }
