<!-- error toast alert -->
<app-error-toast [errorMessage]="errorMessage"></app-error-toast>

<!-- success toast  -->
<app-success-toast [successMessage]="successMessage"></app-success-toast>

<!-- navbar -->
<app-cust-header></app-cust-header>

<!-- main container -->
<main class="" style="background-color: #f3f1e7; height: 90vh;">
  <div class="container-md p-4 p-md-5">
    <div class="card mx-auto col-lg-10 col-sm-10 ">
      <div class="row g-0 ">
        <div class="col-lg-6 col-sm-7 text-light" style="background-color: #B1D7B4">
          <div class="card-body py-sm-3 px-md-5 ">
            <h4 class="text-center" style="color: #2a431c;">REGISTRATION</h4>
            <form [formGroup]="customerRegstrationForm" (ngSubmit)="customerRegistration()">
              <div class=" mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" [formControlName]="'email'" class="form-control" aria-describedby="emailHelp" />
                <div *ngIf="customerRegstrationForm.controls['email'].touched">
                  <small class="text-danger" *ngIf="customerRegstrationForm.controls['email'].errors?.['email']">
                    *Invalid email</small>
                </div>
              </div>
              <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" [formControlName]="'name'" class="form-control" />
              </div>
              <div class="row mb-3">
                <div class="col-sm ">
                  <label for="exampleInputPassword1" class="form-label">Create Password</label>
                  <input type="password" [formControlName]="'create_password'" class="form-control" />
                </div>
                <div class="col-sm ">
                  <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                  <input type="password" [formControlName]="'password'" class="form-control" />
                </div>
                <small class="border-0 rounded-0 text-danger" *ngIf="customerRegstrationForm.errors?.['misMatch'] "
                  class="error-msg">
                  !password is mismatch
                </small>
              </div>
              <div class="row mb-3" [formGroupName]="'address'">
                <div class="col-12 mb-2">
                  <label for="inputAddress" class="form-label">Street/colony</label>
                  <input type="text" class="form-control" [formControlName]="'street'">
                </div>
                <div class="col-12 mb-2">
                  <label for="inputAddress2" class="form-label">Area/Locality</label>
                  <input type="text" class="form-control" [formControlName]="'addressLine2'">
                </div>
                <div class="col-sm col-4">
                  <label for="inputState" class="form-label">State</label>
                  <select class="form-select" [formControlName]="'state'">
                    <option value="" class="text-muted" selected>select state</option>
                    <option>Maharashtra</option>
                    <option>Karnataka</option>
                  </select>
                </div>
                <div class="col-sm col-4 mb-2">
                  <label for="inputCity" class="form-label">City</label>
                  <select class="form-select" [formControlName]="'city'">
                    <option value="" class="" selected>Select city</option>
                    <option>Pune</option>
                    <option>Mumbai</option>
                    <option>Bangalore</option>
                  </select>
                </div>
                <div class="col-sm col-4">
                  <label for="inputZip" class="form-label">Zip</label>
                  <input type="text" class="form-control" [formControlName]="'pin'">
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-center  mt-sm-3">
                <button type="submit" [disabled]="customerRegstrationForm.invalid" class="btn btn-primary rounded-0"
                  style="background-color: #2a431c">
                  Register
                </button>
                <small class="text">if already registered <a href="#" class=" ms-1" [routerLink]="'/login'"
                    style="color: #2a431c;">login</a> </small>
              </div>
            </form>

          </div>
        </div>
        <div class="col-lg-6 col-sm-5 p-0 d-none d-sm-block" style="object-fit: cover; height: 82vh;">
          <img src="../../../assets/farm-login.jpg" class="rounded-end" style="height: 100%; width: 100%; " alt="..." />
        </div>
      </div>
    </div>
  </div>
</main>
