
.disabled{
  pointer-events: none;
  opacity: 0.3
}

main{
  font-family: 'work Sans', 'sans-serif';
  background-color: #F1F0EE;
}

.title{

color:#482307;
opacity: 50%;
}

.btn:hover{
  background-color: #482307 !important;
}
