<app-cust-header [custLoggedStatus]="custLoggedStatus"></app-cust-header>

<main>
  <div class="container-md py-3" style="height:90vh">
    <div class="row">
      <div class="col-md-7 px-md-5 p-md-3 border-end ">
        <div class="p-3">
          <!-- login info -->
          <div class=" d-flex align-items-center justify-content-between p-3  border border-light-subtle "
            style="background-color:#fcfaf4">
            <div class="d-flex align-items-center ">
              <i class="fa-solid fa-user me-4 fs-5"></i>
              <div>
                <p class="card-title h5 m-0" style="color:#482307;"> {{customerName}}</p>
                <small class="fw-light" style="color:#2a431c;">{{customerEmail}}</small>
              </div>
            </div>
            <div *ngIf="custLoggedStatus ; else login">
              <i class="fa-solid fa-circle-check"></i>
            </div>
            <ng-template #login>
              <a class="" routerLink="/auth/login">Login</a>
            </ng-template>

          </div>
          <!-- ship to -->
          <div *ngIf="orderId" style="background-color:#fcfaf4"
            class=" d-flex align-items-center justify-content-between p-3  border border-light-subtle ">
            <div class="d-flex align-items-center ">
              <i class="fa-solid fa-address-book me-4 fs-5"></i>
              <div>
                <p class="mb-1 address-text">ship to : <small class="address-text">
                    {{selectedAddress?.street}}, {{selectedAddress?.addressLine2}}, {{selectedAddress?.city}},
                    {{selectedAddress?.state}}, {{selectedAddress?.pin}}</small></p>
              </div>
            </div>
            <a (click)="changeAddress()"> change</a>

          </div>

        </div>

        <!-- address section -->

        <div class="address-sec" [class.disabled]="custLoggedStatus === false" *ngIf="!orderId">
          <!-- select address -->
          <div class="p-3">
            <div class="d-flex align-items-center justify-content-between">
              <p class="fs-5 title"> Shipping address</p>
              <a href="" class="text-decoration-none" routerLink="/profile/address">manage address</a>
            </div>
            <div class="list-group rounded-0 mt-3 border-0">
              <li *ngFor="let address of customerAddress; index as i"
                class="list-group-item d-flex list-group-item-action" aria-current="true"
                style="background-color:#fcfaf4">
                <input (click)="getSelectedAdd(address)" type="radio" name="address">
                <div class="ms-3">
                  <div class="d-flex w-100 justify-content-between">
                    <p class="mb-1" style="color:#482307">{{customerName}} <small class=" p-1 rounded-1 fw-light  ms-2 "
                        style="background-color:#f0eddb">Home</small> </p>
                  </div>
                  <p class="mb-1 address-text" style="color: #2a431c">{{address.street}}, {{address.addressLine2}},
                    <small class="address-text">{{address.city}}, {{address.state}},
                      {{address.pin}}</small>
                  </p>

                </div>
              </li>
            </div>
          </div>
          <!-- select delivery method -->
          <div class="p-3">
            <p class="fs-5 title"> Shipping method</p>
            <div class="list-group border-0 rounded-0">
              <li class="list-group-item list-group-item-action" style="background-color:#fcfaf4">
                <input (click)="getShippingMethod('free')" type="radio" name="shipping">
                <span class="mx-3" style="color: #2a431c;">standard free delivery above order of Rs.400*</span>
              </li>
              <li class="list-group-item list-group-item-action" style="background-color:#fcfaf4">
                <input (click)="getShippingMethod('paid')" id="radio_1" type="radio" name="shipping">
                <span class="mx-3"style="color: #2a431c;" for="radio_1">fast delievery within 2 days - Rs.40</span>
              </li>
            </div>
            <div class="d-flex align-items-center justify-content-between mt-5">
              <a class="text-decoration-none ms-3" routerLink="/cart" style="color: #876445;"><i class="fa-solid fa-chevron-left ms-2"></i> cart</a>

              <button class="btn btn-primary rounded-0 border-0" style="background-color: #876445"
                (click)="createOrder()">go to payment</button>
            </div>
          </div>
        </div>

        <!-- payment section -->

        <div *ngIf="orderId" class="  p-3 payment-sec">

          <p class="fs-5 title">Payment Details</p>

          <div class="card p-3 rounded-0  border border-light-subtle" style="background-color:#fcfaf4">
            <form [formGroup]="paymentForm" (ngSubmit)="placeOrder(); paymentForm.reset()" action="">
              <!-- <p class="fw-bold mb-2">Saved cards:</p>
              <div class="d-flex flex-row pb-3">
                <div class="d-flex align-items-center pe-2">
                  <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel1" value=""
                    aria-label="..." checked />
                </div>
                <div class="rounded border d-flex justify-content-between w-100 p-3 align-items-center">
                  <p class="mb-0">
                    <i class="fab fa-cc-visa fa-lg text-primary pe-2 me-3"></i>
                    <span>************3456</span>
                  </p>
                  <div class="w-25">
                    <input type="password" id="formControlLgcvv" class="form-control " placeholder="CVV" />
                  </div>
                </div>
              </div> -->

              <!-- <p class="fw-bold mb-4">Add new card:</p> -->

              <div class="card col-8 p-4 rounded-3 mb-4" >
                <div class="form-outline mb-4">
                  <label class="form-label" for="formControlLgcvv">Cardholder's Name</label>
                  <input formControlName="nameOnCard" type="text" id="formControlLgXsd" class="form-control "
                    placeholder="Cardholder's Name" value="" />
                  <small
                    *ngIf="paymentForm.controls['nameOnCard']?.touched && paymentForm.controls['nameOnCard'].errors?.['required']"
                    class="text-danger">
                    *name is required
                  </small>
                </div>

                <div class="row mb-4">
                  <div class="col-7">
                    <div class="form-outline">
                      <label class="form-label" for="formControlLgcvv">Card Number</label>
                      <input formControlName="cardNumber" type="text" class="form-control"
                        placeholder="0000 0000 0000 0000 " />
                      <small *ngIf=" paymentForm.controls['cardNumber'].errors?.['pattern']" class="text-danger">
                        *enter valid card number
                      </small>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="form-outline">
                      <label class="form-label" for="formControlLgcvv">Expiry</label>
                      <input formControlName="expiry" type="text" class="form-control " placeholder="MM/YYYY" />
                      <small
                        *ngIf="paymentForm.controls['expiry']?.dirty && paymentForm.controls['expiry'].errors?.['pattern']"
                        class="text-danger">
                        *enter valid expiry date
                      </small>
                    </div>
                  </div>
                  <div class="col-2 ">
                    <div class="form-outline">
                      <label class="form-label" for="formControlLgcvv">cvv</label>
                      <input formControlName="cvv" type="password" class="form-control " placeholder="000" />
                      <small
                        *ngIf="paymentForm.controls['cvv']?.dirty && paymentForm.controls['cvv'].errors?.['pattern']"
                        class="text-danger">
                        *enter valid cvv
                      </small>
                    </div>
                  </div>
                </div>
                <!-- <div class="text-end">
                  <button type="button" class="btn btn-success btn-block">Add card</button>
                </div> -->
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <a class="text-decoration-none ms-3" routerLink="/cart" style="color: #876445;"><i class="fa-solid fa-chevron-left ms-2"></i> cart</a>
                <button class=" btn btn-success " type="submit" style="background-color: #876445"
                  [disabled]="paymentForm.invalid">Proceed to pay</button>
              </div>
            </form>

          </div>
        </div>
      </div>

      <div class="col-md-5 px-md-5 p-md-3 border-start ">
        <div class="p-3 overflow-scroll" style="max-height:362px">
          <ul class="list-group list-group-flush " >
            <li *ngFor="let product of products"
            style="background-color:inherit"
              class="list-group-item d-flex align-items-center justify-content-between ">
              <div class="d-flex gap-3 align-items-center" style="color: #2a431c;" >
                <img src="{{product?.images[0].url}}" class="img-fluid rounded-3" style="width: 80px;height: 80px;"
                  alt="product">
                <div >
                  <p class="mb-0" style="color:#482307">{{product?.name}} </p>
                  <small>Qty : {{product?.qty}}</small>
                </div>
              </div>
              <p style="color: #2a431c;">  {{product?.totalPrice | currency : "INR"}} </p>
            </li>
          </ul>
        </div>
        <hr>
        <div class="mb-4 px-3 d-flex align-items-center gap-3">
          <input type="text" class="form-control " id="inputPassword2" placeholder="*coupon code">
          <button type="button" class="btn btn-primary border-0 " style="background-color:#876445;">Apply</button>
        </div>
        <div class="px-3">
          <div class="d-flex justify-content-between">
            <p style="color:#482307">subtotal :</p> <small style="color:#2a431c">{{subTotal | currency: "INR"}}</small>
          </div>
          <div class="d-flex justify-content-between">
            <p style="color:#482307">delievery fee :</p> <small style="color:#2a431c">{{deliveryFee | currency: "INR"}}</small>
          </div>
        </div>
        <hr>
        <div class="px-3 d-flex justify-content-between">
          <h5 class="text-capitalize" style="color:#482307">total :</h5> <span class="fw-bold" style="color:#2a431c">{{total| currency: "INR"}}</span>
        </div>
      </div>
    </div>
  </div>
</main>
