<!-- header component -->
<app-header></app-header>

<!-- Vertically centered modal add product -->

<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #f1dfb8">
        <h1 class="modal-title fs-5 text-uppercase" id="staticBackdropLabel">
          Create new product
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          action=""
          [formGroup]="createProductForm"
          (ngSubmit)="createProduct(); createProductForm.reset()"
        >
          <div class="mb-3">
            <label for="name" class="col-sm-3 col-form-label"
              >Product name</label
            >
            <div class="col-sm">
              <input
                type="text"
                [formControlName]="'name'"
                class="form-control rounded-0"
                placeholder=""
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="description" class="col-sm-3 col-form-label"
              >Description</label
            >
            <div class="col-sm">
              <textarea
                type="text"
                [formControlName]="'description'"
                class="form-control rounded-0"
                rows="3"
                placeholder=""
              ></textarea>
            </div>
          </div>
          <div class="row mb-3">
            <label for="formFileSm" class="form-label col-sm-4"
              >upload image</label
            >
            <input
              class="form-control rounded-0 form-control-sm col"
              (change)="uploadImage($event)"
              type="file"
              multiple="multiple"
            />
          </div>
          <div class="row mb-3">
            <label for="price" class="col-sm-4 col-form-label">price</label>
            <div class="col-sm-4 position-relative">
              <i class="fa-solid fa-indian-rupee-sign position-absolute start-0"></i>
              <i class="fa fa-rupee-sign position-absolute start-0"></i> -->
              <input
                type="text"
                pattern="^[0-9]*$"
                [formControlName]="'price'"
                class="form-control rounded-0"
                placeholder="0000.00"
              />
            </div>
          </div>
          <div class="text-end">
            <button
              type="submit"
              [disabled]="!createProductForm.valid"
              class="btn btn-success rounded-0 text-uppercase text-light"
              data-bs-dismiss="modal"
              aria-label="Close"
              style="color: #2a431c"
            >
              submit
            </button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
       <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
      </div>
    </div>
  </div>
</div>

<!-- main container -->

<div class="container-lg py-3">
  <div class="row mt-3 d-flex justify-content-between px-3">
    <!-- search bar -->
    <div class="d-flex position-relative align-items-center col-4 col-sm-3">
      <i class="fa fa-search icon position-absolute end-0 p-3"></i>
      <input
        type="search"
        id="form1"
        class="form-control rounded-0 p-2"
        placeholder="search"
        aria-label="Search"
      />
    </div>
    <!-- sort by dropdown -->
    <div class="dropdown col-4 col-sm-3">
      <a
        class="btn btn-light border w-md-100 px-3 p-2 dropdown-toggle rounded-0"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Sort by <i class="fa-solid fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-menu-end">
        <li><a class="dropdown-item" href="#">name</a></li>
        <li><a class="dropdown-item" href="#">price</a></li>
        <li><a class="dropdown-item" href="#">best selling</a></li>
      </ul>
    </div>
  </div>

  <div class="container products-list-sec">
    <!-- product heading  -->
    <div class="text-center my-3">
      <p class="fw-lighter">All products</p>
    </div>
    <!-- path history -->
    <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#" class="text-decoration-none text-dark">Home</a>
        </li>
        /
        <li class="breadcrumb-item active" aria-current="page">products</li>
      </ol>
    </nav>
    <!-- add product button -->
    <button
      class="btn btn-primary mb-4 fs-sm-5 text-uppercase border-0 rounded-0"
      style="background: #f1dfb8; color: #2a431c"
      data-bs-toggle="modal"
      data-bs-target="#staticBackdrop"
    >
      add product
    </button>

    <!-- product list cards -->
    <div
      class="row row-cols-2 row-cols-sm-3 row-cols-md-4 g-1 g-sm-4 product-list"
    >
      <div class="col" *ngFor="let product of products; index as i">
        <div
          class="card h-100 rounded-0 pointer"
          [routerLink]="'/products/product-details'"
          (click)="setProductId(product._id)"
        >
          <div
            class="overflow-hidden"
            style="height: 250px; object-fit: contain"
          >
            <img
              src="{{ product.images[0].url }}"
              alt=""
              class="border border-1"
              style="width: 100%; height: 100%"
            />
          </div>
          <div class="card-body">
            <p class="product-title fw-semibold fs-5" style="color: #2a431c">
              {{ product.name }}
            </p>
            <p class="product-title text-truncate" style="color: #2a431c">
              {{ product.description }}
            </p>
            <small class="product-price"
              >from
              <span class="fw-semibold">{{
                product.price | currency : "INR"
              }}</span></small
            >
            <div class="rating d-flex flex-wrap justify-content-start mt-1">
              <div>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              </div>
              <small class="ms-2">(123 ratings)</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- pagination  -->
<section
  class="pagination-sec d-flex align-items-center justify-content-center mx-auto my-3"
>
  <div class="btn-group dropdown-center h-75">
    <button type="button" class="btn btn-light d-none d-md-block">
      items per page
    </button>
    <button type="button" class="btn btn-light d-sm-none">items</button>
    <button
      type="button"
      class="btn btn-light dropdown-toggle dropdown-toggle-split"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <span class="visually-hidden">Toggle Dropdown</span>
    </button>
    <ul
      class="dropdown-menu"
      (click)="updateLimit($event)"
      style="width: 10px !important"
    >
      <li><a class="dropdown-item" value="5">4</a></li>
      <li><a class="dropdown-item" value="10">8</a></li>
      <li><a class="dropdown-item" value="15">12</a></li>
    </ul>
  </div>

  <div class="ms-sm-5">
    <ul
      class="pagination mb-0 pagination-sm justify-content-center"
      *ngFor="let page of pagesArray; index as i; first as first; last as last"
    >
      <li class="page-item" *ngIf="first" [class.disabled]="currentPage == 1">
        <a class="page-link border-0" (click)="prevPage()">Previous</a>
      </li>
      <li
        class="page-item"
        (click)="changePage($event)"
        [ngClass]="currentPage == i + 1 ? 'active' : ''"
      >
        <a class="page-link">{{ i + 1 }}</a>
      </li>
      <li
        class="page-item"
        *ngIf="last"
        [class.disabled]="currentPage == pagesArray.length"
      >
        <a class="page-link border-0" (click)="nextPage()">Next</a>
      </li>
    </ul>
  </div>
</section>

<!-- footer component -->
<app-footer></app-footer>
