<app-header></app-header>

<div class="position-relative main" style="height: 89.5vh;">


  <section class=" container-fluid">
    <div class="container py-5">
      <div class="row d-flex justify-content-center align-items-center  h-100">
        <div class="col-10 col-md-9 col-lg-7 col-xl-5">
          <div class="card" style="border-radius: 15px; background-color:rgb(235, 205, 164);">
            <div class="card-body p-4">
              <div class="d-flex text-black flex-wrap ">
                <div class="flex-shrink-0">
                  <img src="../../../assets/profile-pic-rohit.jpg" alt="Generic placeholder image" class="img-fluid"
                    style="width: 180px; border-radius: 10px; height: 180px;">

                </div>
                <div class="flex-grow-1 ms-4 my-3">
                  <h4 class="my-1 d-inline"> {{username}}</h4>

                  <p class="my-2 pb-1" style="color: #2b2a2a;">{{useremail}}</p>
                  <h5 class="text-uppercase">{{company}}</h5>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </section>


<app-footer></app-footer>
