
.title{
  color:#482307;
  opacity: 50%;
}

.card{
  font-family: 'work Sans', 'sans-serif';
  background-color: #f7f6f2;
}


input{
  color:#2a431c;
  border: 2px solid #482307;
  border-radius: 0;
}

label{
  color: #876445;
}
