<app-error-toast [errorMessage]="errorMessage"></app-error-toast>
<app-success-toast [successMessage]="successMessage" ></app-success-toast>

<!-- password change successfull modal -->

<!-- update modal -->
<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Update company info</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="updateInfoForm" (ngSubmit)="updateCompanyInfo(); updateInfoForm.reset()">
          <div class="row mb-3">
            <label for="email" class="col-sm-3 col-form-label">Email</label>
            <div class="col">
              <input type="email" [formControlName]="'email'" class="form-control">
            </div>
          </div>
          <div class="row mb-3">
            <label for="name" class="col-sm-3 col-form-label">Company</label>
            <div class="col">
              <input type="text" [formControlName]="'name'" class="form-control">
            </div>
          </div>

          <button type="submit" [disabled]="!updateInfoForm.valid" class="btn btn-success" data-bs-dismiss="modal"
            aria-label="Close">save</button>

        </form>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>


<!-- change password modal -->
<div class="modal fade" id="passwordModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Change Password</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword(); changePasswordForm.reset()">
          <div class="row mb-3">
            <label for="email" class="col-sm-3 col-form-label">old password</label>
            <div class="col">
              <input type="text" [formControlName]="'old_password'" class="form-control">
            </div>
          </div>
          <div class="row mb-3">
            <label for="name" class="col-sm-3 col-form-label">new password</label>
            <div class="col">
              <input type="password" [formControlName]="'new_password'" class="form-control">
            </div>
          </div>
          <div class="row mb-3">
            <label for="name" class="col-sm-3 col-form-label">confirm password</label>
            <div class="col">
              <input type="password" [formControlName]="'password'" class="form-control">
              <small *ngIf="changePasswordForm.errors?.['misMatch']  " class="text-danger">
                !password is mismatch
              </small>
            </div>

          </div>

          <button type="submit" [disabled]="!changePasswordForm.valid" class="btn btn-success" data-bs-dismiss="modal"
            aria-label="Close">save</button>

        </form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<!-- navbar -->

<nav class="navbar bg-light navbar-expand-md  sticky-top" style="box-shadow: 10px 0px 10px rgb(214, 205, 205);">
  <div class="container-fluid d-flex align-items-center">
    <a class="navbar-brand fs-sm-2 fw-bold mx-sm-3 d-md-none" style=" color : #935e38" href="#">THOPATE FARMS <sup
        class="regd_mark">&#174;</sup></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas w-75 offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <a class="offcanvas-title brand-heading-sm fs-5 fw-bold" style="color:#935e38" id="offcanvasNavbarLabel"
          href="#">THOPATE FARMS <sup class="regd_mark">&#174;</sup></a>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body ">
        <ul class="navbar-nav ms-md-5 justify-content-center align-items-md-center flex-grow-1 ">
          <li class="nav-item  text-decoration-none fs-5">
            <a class="nav-link active" aria-current="page" href="#" [routerLink]="'/seller'">HOME</a>
          </li>


          <li class="nav-item ms-md-5 text-decoration-none fs-5 dropdown">
            <a class="nav-link" href="#" role="button" [routerLink]="'/seller/products'">
              PRODUCTS
            </a>
          </li>
        </ul>
        <a class="navbar-brand fs-2 fw-bold mx-3 d-none d-md-block " [ngStyle]=" {'color' : '#935e38'}" href="#">THOPATE
          FARMS <sup class=" fs-5">&#174;</sup></a>

        <ul class="navbar-nav me-md-5 justify-content-center align-items-md-center flex-grow-1 ">

          <li class="nav-item text-decoration-none fs-5">
            <a class="nav-link active" aria-current="page" [routerLink]="'/seller/users'" href="#">USERS</a>
          </li>


          <li class="nav-item ms-md-3 text-decoration-none fs-5 dropdown">
            <a class="nav-link dropdown-toggle ms-md-5" href="#" [routerLink]="'/seller/my-profile'" data-bs-toggle="dropdown"
              aria-expanded="false">
              <i class="fa-regular fa-user-circle fs-3 "></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item p-2 w-75 mx-3 text-decoration-none fs-5" data-bs-toggle="modal"
                  data-bs-target="#infoModal" href="#">update </a></li>
              <li><a class="dropdown-item p-2 w-75 mx-3 text-decoration-none fs-5" data-bs-toggle="modal"
                  data-bs-target="#passwordModal" href="#">change <br> password</a></li>
              <li><a class="dropdown-item p-2 w-75 mx-3 text-decoration-none fs-5" (click)="userLogout()"
                  >Log out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

  </div>

</nav>
