
<!-- main container -->

<main style="background-color: #f7f6f2">
  <div class="container-lg py-3">
    <div class="row mt-3 d-flex justify-content-between px-3">
      <!-- search bar -->
      <div class="d-flex position-relative align-items-center col-4 col-sm-3">
        <i class="fa fa-search icon position-absolute end-0 p-3"></i>
        <input type="search" id="form1" class="form-control rounded-0 p-2" placeholder="search" aria-label="Search" />
      </div>
      <!-- sort by dropdown -->
      <div class="dropdown col-4 col-sm-3">
        <a class="btn btn-light border sort-toggle w-md-100 px-3 p-2 dropdown-toggle rounded-0" type="button"
          data-bs-toggle="dropdown" aria-expanded="false">
          Sort by <i class="fa-solid fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" (click)="updateSortBy($event)">
          <li><a class="dropdown-item" value="name">name</a></li>
          <li><a class="dropdown-item">price</a></li>
          <li><a class="dropdown-item">best selling</a></li>
        </ul>
      </div>
    </div>

    <div class="container products-list-sec">
      <!-- product heading  -->
      <div class="text-center my-3">
        <p class="fw-lighter">All products</p>
      </div>
      <!-- path history -->
      <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#" class="text-decoration-none text-dark">Home</a>
          </li>
          /
          <li class="breadcrumb-item active" aria-current="page"></li>
        </ol>
      </nav>

      <!-- product list cards -->
      <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 g-1 g-sm-4 product-list">
        <div class="col" *ngFor="let product of shoppingProducts; index as i">
          <div class="card h-100 border border-light-subtle rounded-0 pointer"
            (click)="setProductId(product._id)">
            <div class="overflow-hidden" style="height: 250px; object-fit: contain">
              <img src="{{ product.images[0].url }}" alt="" class="border border--" style="width: 100%; height: 100%" />
            </div>
            <div class="card-body">
              <p class="product-title fw-semibold fs-5" style="color: #2a431c">
                {{ product.name }}
              </p>
              <p class="product-title text-truncate" style="color: #2a431c">
                {{ product.description }}
              </p>
              <small class="product-price">from
                <span class="fw-semibold">{{
                  product.price | currency : "INR"
                  }}</span></small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- pagination  -->
  <section class="pagination-sec d-flex align-items-center justify-content-center mx-auto">
    <div class="btn-group dropdown-center h-75">
      <button type="button" class="btn btn-light d-none d-md-block">
        items per page
      </button>
      <button type="button" class="btn btn-light d-sm-none">items</button>
      <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown"
        aria-expanded="false">
        <span class="visually-hidden">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu" (click)="updateLimit($event)" style="width: 10px !important">
        <li><a class="dropdown-item" value="5">4</a></li>
        <li><a class="dropdown-item" value="10">8</a></li>
        <li><a class="dropdown-item" value="15">12</a></li>
      </ul>
    </div>

    <div class="ms-sm-5">
      <ul class="pagination mb-0 pagination-sm justify-content-center">
        <li class="page-item" [class.disabled]="currentPage == 1">
          <a class="page-link border-0" (click)="prevPage()">Previous</a>
        </li>
        <li *ngFor="let page of pagesArray; index as i;" class="page-item" (click)="changePage($event)"
          [ngClass]="currentPage == i + 1 ? 'active' : ''">
          <a *ngIf="i<=5" class="page-link">{{ i + 1 }}</a>
        </li>
        <li class="page-item" [class.disabled]="currentPage == pagesArray.length">
          <a class="page-link border-0" (click)="nextPage()">Next</a>
        </li>
      </ul>
    </div>
  </section>
</main>
