<app-header></app-header>

<!-- delete confirmation modal -------- -->
<div
  class="modal fade"
  id="deleteConfirmModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <p>Are you sure to delete this product?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          cancel
        </button>
        <button
          type="button"
          class="btn btn-danger"
          (click)="deleteProduct(productDetails._id)"
        >
          confirm
        </button>
      </div>
    </div>
  </div>
</div>

<!-- update product modal ----- -->

<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #f1dfb8">
        <h1 class="modal-title fs-5 text-uppercase" id="staticBackdropLabel">
          Update product
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          action=""
          [formGroup]="updateProductForm"
          (ngSubmit)="
            updateProduct(productDetails._id); updateProductForm.reset()
          "
        >
          <div class="mb-3">
            <label for="name" class="col-sm-3 col-form-label"
              >Product name</label
            >
            <div class="col-sm">
              <input
                type="text"
                [formControlName]="'name'"
                class="form-control rounded-0"
                placeholder=""
              />
            </div>
          </div>
          <div class="mb-3">
            <label for="description" class="col-sm-3 col-form-label"
              >Description</label
            >
            <div class="col-sm">
              <textarea
                type="text"
                [formControlName]="'description'"
                class="form-control rounded-0"
                rows="3"
                placeholder=""
              ></textarea>
            </div>
          </div>
          <div class="row mb-3">
            <label for="price" class="col-sm-4 col-form-label">price</label>
            <div class="col-sm-4 position-relative">

              <input
                type="text"
                pattern="^[0-9]*$"
                [formControlName]="'price'"
                class="form-control rounded-0"
                placeholder="0000.00"
              />
            </div>
          </div>
          <div class="text-end">
            <button
              type="submit"
              [disabled]="!updateProductForm.valid"
              class="btn btn-success rounded-0 text-uppercase text-light"
              data-bs-dismiss="modal"
              aria-label="Close"
              style="color: #2a431c"
            >
              submit
            </button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
      </div>
    </div>
  </div>
</div>

<!-- update images modal -->
<div
  class="modal fade"
  id="updateImagesmodal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Image</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form
          action=""
          [formGroup]="updateImageForm"
          (ngSubmit)="updateImages(productDetails._id); updateImageForm.reset()"
        >
          <div class="row mb-3">
            <label for="formFileSm" class="form-label col-sm-4"
              >upload image</label
            >
            <input
              class="form-control rounded-0 form-control-sm col"
              type="file"
              multiple="multiple"
              (change)="uploadImage($event)"
            />
          </div>
          <div class="text-end">
            <button
              class="btn btn-primary"
              type="submit"
              data-bs-dismiss="modal"
              aria-label="Close"
            >
              submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--  product container  -->
<div class="container border border-danger py-5">
  <!-- path history -->
  <nav
    class="col-10 mx-auto mb-5"
    style="--bs-breadcrumb-divider: '>'"
    aria-label="breadcrumb"
  >
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/products" class="text-decoration-none text-dark">Products</a>
      </li>
      /
      <li class="breadcrumb-item active" aria-current="page">
        {{ productDetails.name }}
      </li>
    </ol>
  </nav>

  <!--  product card  -->

  <div class="card my-3 col-10 mx-auto rounded-0">
    <div class="row">
      <div class="col-md-6 rounded-0 position-relative">
        <!-- image corousel -->
        <div id="carouselExampleAutoplaying" class="carousel slide">
          <div class="carousel-inner">
            <div
              class="carousel-item"
              [ngClass]="active ? 'active' : ''"
              *ngFor="
                let image of productDetails.images;
                index as i;
                first as active
              "
              style="object-fit: contain"
            >
              <a
                class="m-3 btn btn-secondary text-center position-absolute rounded-3 opacity-75 end-0 bottom-0 text-light"
                title="edit image"
                id="edit-btn"
                data-bs-toggle="modal"
                data-bs-target="#updateImagesmodal"
              >
                <i class="fa-solid fa-camera"> </i>
              </a>
              <img src="{{ image.url }}" class="d-block w-100" alt="..." />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            style="margin-top: 130px; height: 300px"
            type="button"
            data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            style="margin-top: 130px; height: 300px"
            type="button"
            data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card-body pe-5">
          <p class="card-title text-uppercase fs-2 fw-semibold">
            {{ productDetails.name }}
          </p>
          <p class="card-text text-truncate">
            {{ productDetails.description }}
          </p>
          <div class="rating d-flex justify-content-between">
            <div>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
              <small class="ms-2">(123 ratings)</small>
            </div>
          </div>
          <div class="dropdown mt-3">
            <span class="me-3">Size </span>
            <button
              class="btn btn-light border text-end h-25 w-25 px-3 p-2 dropdown-toggle rounded-0"
              style="width: 250px"
              type="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              {{ curProductSize }}
            </button>
            <ul
              class="dropdown-menu dropdown-menu-end"
              (click)="getCurrentSize($event)"
            >
              <li><a class="dropdown-item">250 gm</a></li>
              <li><a class="dropdown-item">500 gm</a></li>
              <li><a class="dropdown-item">1000 gm</a></li>
            </ul>
          </div>
          <div class="my-3">
            <small class="product-price"
              ><span class="fw-semibold fs-5">{{
                productDetails.price | currency : "INR"
              }}</span></small
            >
            <small class="d-block fw-light">MRP (incl of all taxes)</small>
          </div>
          <div class="vstack gap-3 col-md-7 mx-auto mt-3">
            <button
              type="button"
              class="btn w-100 text-uppercase text-light py-2"
              style="background-color: #2a431c"
              data-bs-toggle="modal"
              data-bs-target="#staticBackdrop"
              (click)="fillProductDetails()"
            >
              Update
            </button>
            <button
              type="button"
              class="btn w-100 text-uppercase text-light py-2"
              style="background-color: #6a040f"
              data-bs-toggle="modal"
              data-bs-target="#deleteConfirmModal"
            >
              delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
