

.checked {
    color: orange;
  }


.container{
    font-family: 'Work Sans', 'sans-serif';
  }


  .card-body{
    color:#2a431c;
  }

button{
    border:none;
    border-radius: 0;
}

#edit-btn:hover::after{
    content: "edit";
    margin-left: 5px;
}

.text-truncate {
    white-space:normal;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
