.card{
  font-family: 'work Sans', 'sans-serif';
  background-color: #fcfaf4;
}

.active{
  color: #482307 !important;

}

.row:hover{
  background-color: #faf3e1;
  cursor: pointer;
}

.nav-link{
  color: #a1724e;
  opacity: 0.7;
}

.pay-btn:hover{
  background-color: #7e5a3a;
  opacity: 1;
}

