.toggle-arrow::after {
    content: none;
}


*{
    font-family: 'montserrat';
}


.dropdown-menu li {
  position: relative;
  }
   .dropdown-submenu {
  display: none;
  position: absolute;
  left: 40%;
  top: 7px;
  }
  .dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
  }


.dropdown-menu{
  --bs-dropdown-min-width: 7rem;
   --bs-dropdown-padding-x: 0;
}
