/* You can add global styles to this file, and also import other style files */

.error-msg {
  color: red;
}

.grecaptcha-badge {
  visibility: hidden;
}
body {overflow-x: hidden !important;  Scrollbar-width: none;}
body::-webkit-scrollbar { width: 0; height: 0;}


::-webkit-scrollbar-track {

}

::-webkit-scrollbar {
  width: 3px;
  // background-color: #fff;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6c865c;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background-color: #b8d4a9;
}
