<app-header></app-header>
<app-error-toast [errorMessage]="errorMessage"></app-error-toast>


<div class="card col-5 mx-auto  p-3 rounded-3 mt-5 ">
  <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword(); resetPasswordForm.reset()">
    <div class="row mb-3">
      <label for="password" class="col-sm-4 col-form-label">Create password</label>
      <div class="col">
        <input type="password" [formControlName]="'new_password'" class="form-control">
        <!-- error msg -->
        <div *ngIf="resetPasswordForm.controls['new_password'].touched">
          <small class="text-danger " *ngIf="resetPasswordForm.controls['new_password'].errors?.['required']"  >
              *this field is required
          </small>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <label for="password" class="col-sm-4 col-form-label">Confirm password</label>
      <div class="col">
        <input type="password" [formControlName]="'password'" class="form-control">
        <!-- error msg -->
        <div *ngIf="resetPasswordForm.controls['password'].touched">
          <small class="text-danger " *ngIf="resetPasswordForm.controls['password'].errors?.['required']"  >
              *this field is required
          </small>
          <small class="text-danger " *ngIf="resetPasswordForm.errors?.['misMatch']"  >
              !password mismatch
          </small>
        </div>
      </div>
    </div>


    <button type="submit" [disabled]="!resetPasswordForm.valid" class="btn btn-success" data-bs-dismiss="modal"
      aria-label="Close">submit</button>

  </form>
</div>

<app-footer></app-footer>
