<app-header></app-header>

<div class="position-relative main ">

    <section class="" style="  background-color: #ebe5d6; height: 98%">
        <div class="container py-5 h-75    ">
          <div class="row d-flex justify-content-center align-items-center  h-100">
            <div class="col col-md-9 col-lg-7 col-xl-5">
              <div class="card"  style="border-radius: 15px; background-color:rgb(235, 205, 164);">
                <div class="card-body p-4">
                  <div class="d-flex text-black">
                    <div class="flex-shrink-0">
                      <img src="../../../assets/profile-pic-rohit.jpg"
                        alt="Generic placeholder image" class="img-fluid"
                        style="width: 180px; border-radius: 10px; height: 180px;">

                    </div>
                    <div class="flex-grow-1 ms-4 my-3">
                        <h4 class="my-1 d-inline"> {{username}}</h4>

                      <p class="my-2 pb-1" style="color: #2b2a2a;">{{useremail}}</p>
                      <h5  >{{company}}</h5>
                    </div>
                  </div>
                </div>
              </div>
        <!-- <input type="file" name="profile-img" id="" (change) =" updateProfilePic($event)"> -->

            </div>
          </div>
        </div>
      </section>
</div>



