.sort-toggle::after {
    content: '';
    display: none;
  }

  .card{
    transition: box-shadow .3s;
    font-family: 'work Sans', 'sans-serif';
    cursor:pointer;
    background-color: #fcfaf4;

  }

.card:hover{
  box-shadow: 0 0px 11px rgba(33,33,33,.2);
}

  .text-truncate {
    white-space:normal;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }

    form label{
      color:#2a431c;
    }

   @media screen and (max-width:390px) {
     .btn-group{
       width: 30%;
     }

   }
